
.about_head {
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(10, 10, 30, 0.2), rgba(10, 10, 30, 0.2)), url('../../images/img-3.jpg');
    background-position : center;
    background-size : cover;
    position : relative;
}   

.about_text-box {
    width : 100%;
    color : #fff;
    position : absolute;
    top : 20%;
    left : 50%;
    transform : translate(-50%, -50%);
    text-align : center;
    font-size: 110px;
    font-weight: bold;
}

.about_text-box2 {
    width : 100%;
    color : #fff;
    position : absolute;
    top : 60%;
    left : 50%;
    transform : translate(-50%, -50%);
    text-align : center;
    font-size: 30px;
}
