.header2 {
    text-align: center;
}

.header2 {
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(10, 10, 30, 0.5), rgba(10, 10, 30, 0.5)), url(/src/images/img-5.jpg);
    background-position : center;
    background-size : cover;
    position : relative;
}

.header2-font {
    margin-top : 0px;
    margin-bottom : 0px;
    font-size: 70pt;
    font-weight: bold;
}

.header2-font {
    color : white;
    width : auto;
}

.myaccount {
    display : flex;
    justify-content : space-between;
}

.account-col {
    flex-basis : 50%;
    padding : 20px 12px;
}

.myaccountbtn {
    color : black; 
    border-radius : 50px; 
    color : white;
    background-color : rgba(185, 135, 185, 0.7);
    padding : 10px;
    width : 420px;
    height: 250px;
    margin : 10px;
    font-size: 25pt;
    font-weight: bold;
}   

.myaccountbtn:hover {
    box-shadow : 0 0 20px 0px rgba(185, 135, 185, 0.87);
    transition: 0.5s;
}