.register_main_body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 46, 54);
    background-image: url('./images/Reflica.jpg');
    height: 100%;

}

.register_title{
    font-size: 70px;
    text-align: center;
    text-shadow:navy;
    font-weight: bold;
    color:rgb(0, 0, 8);
}

.register_form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    background-color: transparent;
}

.signup_form {
    width : 90%;
    font-weight: bold;
    color: black;
    font-size: 17px;
    
}
  
  
input[type="text"],
input[type="password"],
input[type="passwordCheck"],
input[type="email"] {
    background: white;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 13px;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
    font-weight: bold;
}
  
.register_submit_button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #3a3a3a;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 45px;
    width: 83%;
    border-width: 1px 1px 3px;
    font-weight: bold;
}

.register_submit_button:hover {
    background-color: rgb(248, 248, 246);
    border-radius: 45px;
    transition: all 0.4s ease-out;
    color: black;
}
  
.base {
    background-color: #3a3a3a;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    font-weight: bold;
}
