.cartitem {
    width: 100%;
    padding: 1rem;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background: #fff;
    border-radius: 2px;
    place-items: center;
  }
  
  .cartitem_name {
    text-decoration: none;
    color: #171717;
  }
  
  .cartitem_name:hover {
    color: #dd219e;
  }
  
  .cartitem_select {
    padding: 10px 17px;
  }
  
  .cartitem_deleteBtn {
    padding: 10px 17px;
    color: red;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .cartitem_deleteBtn:hover,
  .cartitem_deleteBtn:focus,
  .cartitem_deleteBtn:active {
    background: #171717;
    transform: scale(1.2);
  }
  
  @media (max-width: 700px) {
    .cartitem_name {
      font-size: 0.8rem;
    }
    .cartitem_select,
    .cartitem_deleteBtn {
      padding: 8px 13px;
    }
    .cartitem_price {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 500px) {
    .cartitem_name {
      font-size: 0.6rem;
    }
    .cartitem_select,
    .cartitem_deleteBtn {
      padding: 5px 8px;
    }
    .cartitem_price {
      font-size: 0.6rem;
    }
  }