
.legend_title {
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(10, 10, 30, 0.5), rgba(10, 10, 30, 0.5)), url(./sidebar_images/PrimierLeague.jpg);
    background-position : center;
    background-size : cover;
    position : relative;
}   

.legend_title_text_box {
    width : 100%;
    color : #fff;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    text-align : center;
}

.legend_title_text_box h1 {
    font-size : 70px;
}

.legend_title_text_box p {
    margin : 30px 0 30px;
    font-size : 14px;
    color : #fff;
}

.legend_grid {
    margin-top : 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin : 5px;
}